@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  font-size: 0.9rem;
  text-decoration: none;
  color: #1a73e8;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-items {
  align-items: center;
}

.mb {
  margin-bottom: 1rem;
}

body {
  font-family: "Noto Sans", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  justify-content: space-between;
  padding: 2.5rem 2.5rem 2rem;
}

.form__data {
  width: 365px;
}

.form__heading {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__element {
  padding: 0.6rem 0.5rem;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  width: 100%;
  /* min-width: 100px; */
}

.form__element:focus {
  border: 2px solid #1a73e8;
}

.new__gmail {
  margin-bottom: 2rem;
}

.inputs__label {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  margin-left: 0.6rem;
  width: 85%;
  color: #666;
}

.google__logo {
  height: 25px;
  margin-bottom: 0.7rem;
}
.checkbox {
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin-left: 0.4rem;
}
.form__image {
  width: 250px;
  margin-top: 5rem;
  margin-left: 2.5rem;
  text-align: center;
}

.btn {
  font-weight: bold;
  padding: 0.8rem 1rem;
  border: 0;
  cursor: pointer;
  background-color: #1a73e8;
  color: #fff;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0e52aa;
}

footer {
  align-items: center;
  justify-content: space-between;
  margin: 2.8rem 0;
}

.pass__label {
  display: block;
  margin-left: 1rem;
}

.form__image > figcaption {
  color: #444;
}

@media screen and (max-width: 600px) {
  .form__image {
    display: none;
  }
  body {
    align-items: baseline;
    justify-content: flex-start;
  }
  form {
    border: 0;
    padding: 0;
    margin-top: 2.3rem;
  }
  .form__data {
    width: 100%;
    padding: 0 2rem;
  }
  .form-group {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  .form__image {
    display: none;
  }
}
